---
import BadgeTech from "../utils/BadgeTech.astro";
import type { Complementary } from "../../types/education";
import CertificateModal from "./CertificateModal.astro";
const { certificate, image, academyTime, stack } = Astro.props as Complementary;
---

<div class="flex flex-col max-w-96">
  <div class="flex flex-wrap md:flex-nowrap">
    <h4
      class="w-auto text-xl font-semibold text-secondary dark:text-secondaryDark mt-1 mb-2"
    >
      {certificate}
    </h4>
  </div>
  <div class="flex gap-5 justify-start">
    <button
      data-modal-target=`certificate-modal-${certificate}`
      data-modal-toggle=`certificate-modal-${certificate}`
      type="button"
    >
      <img
        transition:name=`img-${certificate}`
        class="w-36 rounded-2xl border-4 border-black"
        src={image}
        alt={certificate}
      />
    </button>
    <div class="flex flex-col justify-center pb-3 ">
      <h3 class="font-bold text-lg flex-wrap">{academyTime}</h3>
      <div class="flex gap-2 flex-wrap max-w-32 md:max-w-96">
        {
          stack.map(({ tech, color, icon: Icon }) => (
            <BadgeTech text={tech} color={color}>
              <Icon color="#fff" secondaryColor="#000" size="18" />
            </BadgeTech>
          ))
        }
      </div>
    </div>
  </div>
</div>

<!-- Lanzamiento del modal -->
<CertificateModal image={image} certificate={certificate} />
